* {
  margin: 0;
  padding: 0;
}

:root {
  --light-orange: #f9d8b7;
  --orange: #ff7e00;
  --light-grey: #46545b;
  --border-color: #dfd3e5;
  --header: #f2f4f5;
  --white: #fff;

}
.wrapper {
  min-height: calc(100vh - 3em);
}



